environment = "dev"
location    = "eastus"
db_admin_password = "test@hoge1234"

repo_url = "https://github.com/discket/RAG-tool"
branch = "develop"
github_token = "test"

secrets = {
  "database-url" = ""
  "azure-storage-connection-string" = ""
  "form-recognizer-endpoint" = ""
  "form-recognizer-key" = ""
  "search-service-endpoint" = ""
  "search-service-key" = ""
  "search-index-name" = ""
  "aoai-endpoint" = ""
  "aoai-key" = ""
  "aoai-embedding-deployment-name" = ""
  "aoai-gpt-deployment-name" = ""
  "azure-storage-account-name" = ""
  "azure-storage-account-key" = ""
}